<div class="game">
  <app-card
    *ngFor="let card of cards"
    [rank]="card.rank"
    [suit]="card.suit"
  ></app-card>

</div>
<hr/>
<div class="block-btn">
  <h2>Score: {{scoreForUser}} {{win}} {{lose}}</h2>
  <button class="btn-give btn" [disabled] = "scoreForUser >= 21 " (click)="addCard()">Give another card</button>
  <button class="btn-reset btn" (click)="reset()">Reset</button>
</div>


