.game {
  display: flex;
  padding: 20px;
}

.block-btn {
  padding: 20px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 0 15px;
}

.btn-give {
  background: greenyellow;
}

.btn-reset {
  background: red;
}

